{
  "Host": "https://localhost:8443",
  "Signin": {
    "Email": "admin",
    "Password": "admin",
    "InstallId": "1"
  },
  "TestParams": {
    "Seed": "86809",
    "Lat": "84",
    "Lng": "-42"
  },
  "Hammers": 1,
  "Seconds": 30,
  "MaxProcs": 1,
  "RequestPath": "request.log",
  "LogPath":  "hammer.log",
  "SlowMs": 1000,
  "MaxToLog": 1000
}
